*
!.local/
!.local/share/
!.local/share/bash-completion/
!.local/share/bash-completion/
!.local/share/bash-completion/completions/
!.local/share/bash-completion/completions/*
!.gitconfig
!.gitignore
!.vimrc
!.vim/
!.vim/repos
!.byobu/
!.byobu/*
!.bash_aliases
!.bash_completion
!.bashrc
