*
!.local/
!.local/share/
!.local/share/bash-completion/
!.local/share/bash-completion/
!.local/share/bash-completion/completions/
!.local/share/bash-completion/completions/*
!.gitconfig
!.gitignore
!.vimrc
!.local/share/vim/
!.local/share/vim/bundle/
!.local/share/vim/bundle/*
!.local/share/vim/repos
!.byobu/
!.byobu/*
!.bash_aliases
!.bash_completion
!.bashrc
