[user]
	email = fuseteam@duck.com
	name = Rahammetoela Toekiman
        signingKey = ACD083CB585C9AA9
[core]
        editor = vim
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[commit]
    gpgSign = true
[gpg]
    program = gpg 
[tag]
    gpgSign = true

